body{
background-color: rgb(0, 77, 128);
display: flex;
justify-content: center;
align-content: center;
font-family: 'Times New Roman', Times, serif;

}

.head{
    color: white;
    margin-left: 150px;
    
}

.head2{
    color: white;
    margin-left: 15px;
}

.pg1{
    color: white;
    margin-top: 50px;
    margin-left: 35px;
}

.inputbox{
    width: 50vh;
    padding: 5px;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 8px;
    margin-left: 25px;
}

.button{
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #0024b3;
  }

  .button:active {
    background: #007a63;
  }
  
  .button__text {
    font: bold 20px "Quicksand", san-serif;
    color: #ffffff;
    transition: all 0.2s;
  }
  
  .button--loading .button__text {
    visibility: hidden;
    opacity: 0;
  }
  
  .button--loading::after {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid transparent;
    border-top-color: #0f538b;
    border-radius: 50%;
    animation: button-loading-spinner 1s ease infinite;
  }
  
  @keyframes button-loading-spinner {
    from {
      transform: rotate(0turn);
    }
  
    to {
      transform: rotate(1turn);
    }
  }

  .container{
    max-width: 600px;
    height: 600px;
    border: 1px solid #ccc;
    padding: 25px;
    overflow-y: scroll;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
    height: 50vh;
    width: 70vh;
    
  }
  .savebutton {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 5px;
    margin-left: 30px;
    font-family: 'Times New Roman', Times, serif;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .advert{
    color: #ffffff;
    margin-left: 20px;
  }

  @media only screen and (max-width: 480px){
    .pg1{
      margin-left: 20px;
      margin-top: 40px;
    }

    .inputbox{
      width: 30vh;
      margin-left: 10px;
    }

    .savebutton{
      margin-left: 15px;
      
    }

    .head2{
      margin-left: 15px;
      margin-top: 5px;
    }

    .container{
      height: 50vh;
      width: 40vh;
    }

    .button{
      margin-left: 5px;
    }

    .head{
      margin-left: 50px;
      margin-top: 30px;
    }

    
  }
